$color-orange: #cc9543;
$color-gray-border: rgba(0, 0, 0, 0.1);
$color-gray: rgba(74, 74, 74, 0.7);
$color-gray-2: #4a4a4a;
$color-gray-3: rgba(74, 74, 74, 0.3);
$color-dark-white: rgba(216, 216, 216, 0.8);
$color-light-blue: #6abfc3;
$color-white-bg: #f3f3f3;
$color-light-green: #96b874;