/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg-blue {
  background-color: #0d6efd;
}

.bg-indigo {
  background-color: #6610f2;
}

.bg-purple {
  background-color: #6f42c1;
}

.bg-pink {
  background-color: #d63384;
}

.bg-red {
  background-color: #dc3545;
}

.bg-orange {
  background-color: #fd7e14;
}

.bg-yellow {
  background-color: #ffc107;
}

.bg-green {
  background-color: #198754;
}

.bg-teal {
  background-color: #20c997;
}

.bg-cyan {
  background-color: #0dcaf0;
}

.bg-gray {
  background-color: #adb5bd;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.border {
  border: 1px solid black;
}

.border-top {
  border-top: 1px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.border-bottom {
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
}

.bw-2 {
  border-width: 2px;
}

.bw-3 {
  border-width: 3px;
}

.bw-4 {
  border-width: 4px;
}

.bc-blue {
  border-color: #0d6efd;
}

.bc-indigo {
  border-color: #6610f2;
}

.bc-purple {
  border-color: #6f42c1;
}

.bc-pink {
  border-color: #d63384;
}

.bc-red {
  border-color: #dc3545;
}

.bc-orange {
  border-color: #fd7e14;
}

.bc-yellow {
  border-color: #ffc107;
}

.bc-green {
  border-color: #198754;
}

.bc-teal {
  border-color: #20c997;
}

.bc-cyan {
  border-color: #0dcaf0;
}

.bc-gray {
  border-color: #adb5bd;
}

.bc-white {
  border-color: white;
}

.rounded {
  border-radius: 10px;
}

.rounded-50 {
  border-radius: 50%;
}

.rounded-top {
  border-radius: 10px 10px 0 0;
}

.rounded-bottom {
  border-radius: 0 0 10px 10px;
}

.rounded-tl {
  border-radius: 10px 0 0 0;
}

.rounded-tr {
  border-radius: 0 10px 0 0;
}

.rounded-br {
  border-radius: 0 0 10px 0;
}

.rounded-bl {
  border-radius: 0 0 0 10px;
}

.btn {
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

.btn:hover {
  opacity: 0.8;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.container-fluid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media screen and (max-width: 768px) {
  .container-fluid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .container-fluid {
    grid-template-columns: 1fr;
  }
}

.gx-1 {
  column-gap: 0.2em;
}

.gx-2 {
  column-gap: 0.4em;
}

.gx-3 {
  column-gap: 0.6em;
}

.gx-4 {
  column-gap: 0.8em;
}

.gx-5 {
  column-gap: 1em;
}

.gx-6 {
  column-gap: 1.2em;
}

.gx-7 {
  column-gap: 1.4em;
}

.gx-8 {
  column-gap: 1.6em;
}

.col-1 {
  grid-column: span 1;
}
@media screen and (max-width: 768px) {
  .col-1 {
    grid-column: span 1;
  }
}
@media screen and (max-width: 576px) {
  .col-1 {
    grid-column: span 1;
  }
}

.col-2 {
  grid-column: span 2;
}
@media screen and (max-width: 768px) {
  .col-2 {
    grid-column: span 1;
  }
}
@media screen and (max-width: 576px) {
  .col-2 {
    grid-column: span 1;
  }
}

.col-3 {
  grid-column: span 3;
}
@media screen and (max-width: 768px) {
  .col-3 {
    grid-column: span 2;
  }
}
@media screen and (max-width: 576px) {
  .col-3 {
    grid-column: span 1;
  }
}

.col-4 {
  grid-column: span 4;
}
@media screen and (max-width: 768px) {
  .col-4 {
    grid-column: span 2;
  }
}
@media screen and (max-width: 576px) {
  .col-4 {
    grid-column: span 1;
  }
}

.col-5 {
  grid-column: span 5;
}
@media screen and (max-width: 768px) {
  .col-5 {
    grid-column: span 3;
  }
}
@media screen and (max-width: 576px) {
  .col-5 {
    grid-column: span 1;
  }
}

.col-6 {
  grid-column: span 6;
}
@media screen and (max-width: 768px) {
  .col-6 {
    grid-column: span 3;
  }
}
@media screen and (max-width: 576px) {
  .col-6 {
    grid-column: span 1;
  }
}

.col-7 {
  grid-column: span 7;
}
@media screen and (max-width: 768px) {
  .col-7 {
    grid-column: span 4;
  }
}
@media screen and (max-width: 576px) {
  .col-7 {
    grid-column: span 1;
  }
}

.col-8 {
  grid-column: span 8;
}
@media screen and (max-width: 768px) {
  .col-8 {
    grid-column: span 4;
  }
}
@media screen and (max-width: 576px) {
  .col-8 {
    grid-column: span 1;
  }
}

.col-9 {
  grid-column: span 9;
}
@media screen and (max-width: 768px) {
  .col-9 {
    grid-column: span 5;
  }
}
@media screen and (max-width: 576px) {
  .col-9 {
    grid-column: span 1;
  }
}

.col-10 {
  grid-column: span 10;
}
@media screen and (max-width: 768px) {
  .col-10 {
    grid-column: span 5;
  }
}
@media screen and (max-width: 576px) {
  .col-10 {
    grid-column: span 1;
  }
}

.col-11 {
  grid-column: span 11;
}
@media screen and (max-width: 768px) {
  .col-11 {
    grid-column: span 6;
  }
}
@media screen and (max-width: 576px) {
  .col-11 {
    grid-column: span 1;
  }
}

.col-12 {
  grid-column: span 12;
}
@media screen and (max-width: 768px) {
  .col-12 {
    grid-column: span 6;
  }
}
@media screen and (max-width: 576px) {
  .col-12 {
    grid-column: span 1;
  }
}

.grid-end {
  grid-column-end: 13;
}

.grid-start {
  grid-column-start: 0;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-r {
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=main.css.map */
